<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="foggyDi" xsi:type="object">
                    Dexpro\Catalog\Console\Command\CatalogCommand
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Dexpro\Catalog\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Dexpro\Catalog\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ERPLog</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Dexpro\Catalog\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
